<div class="row">
    <div class="small-8 columns">
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :Title,"Question Title",class: "right inline"%>
			</div>
			<div class="small-9 columns">
				<%= f.text_field :question_text, id: "right-label"%>
			</div>
		</div>
	</div>
</div>